body {
    overflow: hidden;
}
#gameFrame {
    width: 100vw;
    height: 90vh;
    margin: 0;
    background-color: black;
}
#infobox {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    backdrop-filter: blur(4px);
}
#infobox img {
    height: 90%;
    margin: 0.5%;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
}
#infobox h2 {
    margin-right: auto;
}
.button {
    margin: 4px;
    padding: 2px;
    width: 7%;
    transition-duration: 0.25s;
    cursor: pointer;
    filter: brightness(0.9);
}
.button:hover {
  filter: brightness(1);
  transform: scale(1.1);
}
.button:active {
  filter: brightness(1.2);
  transform: scale(0.95);
}
.opposite {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 12px;
}
@-moz-document url-prefix() {
    #gamecontainer {
    	backdrop-filter: blur(0);
    }
}
body[fast] #gamecontainer {
    background-color: color-mix(in srgb, var(--color-2) 70%, #000000 30%);
	backdrop-filter: blur(0);
}